<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>

<h2>로그인</h2>

<form action="/login-process" method="post">

    <div>
        <input type="text"
               name="username"
               placeholder="아이디">
    </div>

    <br>

    <div>
        <input type="password"
               name="password"
               placeholder="비밀번호">
    </div>

    <br>

    <button type="submit">
        로그인
    </button>

</form>

</body>
</html>