<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jjang051.petcity.admin.dao.AdminMemberDetailDao">
    <select id="findMemberDetailById" resultType="AdminMemberDetailDto">
        SELECT
        MEMBER_ID AS memberId,
        LOGIN_ID AS loginId,
        NICKNAME AS nickname,
        EMAIL AS email,
        PHONE AS phone,
        ROLE AS role,
        STATUS AS status,
        MEMBER_STATUS AS memberStatus,
        TO_CHAR(EMAIL_VERIFIED) AS emailVerified,
        PROFILE_IMAGE AS profileImage,
        CREATED_AT AS createdAt,
        UPDATED_AT AS updatedAt,
        LAST_LOGIN_AT AS lastLoginAt,
        DELETE_REQUESTED_AT AS deleteRequestedAt,
        DELETED_AT AS deletedAt,
        HARD_DELETE_AT AS hardDeleteAt
        FROM app_member
        where member_ID = #{memberId}
    </select>

    <update id="updateMemberAccountSettings">
        UPDATE APP_MEMBER SET
        ROLE = #{role},
        STATUS = #{status},
        MEMBER_STATUS = #{memberStatus},
        UPDATED_AT = SYSTIMESTAMP
        WHERE MEMBER_ID = #{memberId}
    </update>

</mapper>