<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jjang051.petcity.member.dao.MemberMapper">

    <!-- ================================================= -->
    <!-- 로그인 아이디 조회 -->
    <!-- ================================================= -->
    <select id="findByLoginId"
            resultType="com.jjang051.petcity.member.dto.MemberDto">

        SELECT *
        FROM APP_MEMBER
        WHERE LOGIN_ID = #{loginId}

    </select>

    <!-- ================================================= -->
    <!-- 이메일 조회 (SNS 로그인용) -->
    <!-- ================================================= -->
    <select id="findByEmail"
            resultType="com.jjang051.petcity.member.dto.MemberDto">

        SELECT *
        FROM APP_MEMBER
        WHERE EMAIL = #{email}

    </select>

    <!-- ================================================= -->
    <!-- 아이디 중복 확인 -->
    <!-- ================================================= -->
    <select id="countByLoginId"
            parameterType="String"
            resultType="int">

        SELECT COUNT(*)
        FROM APP_MEMBER
        WHERE LOGIN_ID = #{loginId}

    </select>

    <!-- ================================================= -->
    <!-- 닉네임 중복 확인 -->
    <!-- ================================================= -->
    <select id="countByNickname"
            parameterType="String"
            resultType="int">

        SELECT COUNT(*)
        FROM APP_MEMBER
        WHERE NICKNAME = #{nickname}

    </select>

    <!-- ================================================= -->
    <!-- 이메일 중복 확인 -->
    <!-- ================================================= -->
    <select id="countByEmail"
            parameterType="String"
            resultType="int">

        SELECT COUNT(*)
        FROM APP_MEMBER
        WHERE EMAIL = #{email}

    </select>

    <!-- ================================================= -->
    <!-- 회원가입 -->
    <!-- ================================================= -->
    <insert id="insert">

        INSERT INTO APP_MEMBER
        (
        MEMBER_ID,
        LOGIN_ID,
        PASSWORD,
        NICKNAME,
        EMAIL,
        PHONE,
        ROLE,
        EMAIL_VERIFIED,
        STATUS,
        MEMBER_STATUS,
        LOGIN_TYPE,
        SOCIAL_ID,
        AGREEMENT_EMAIL,
        CREATED_AT
        )
        VALUES
        (
        SEQ_APP_MEMBER.NEXTVAL,
        #{loginId},
        #{password},
        #{nickname},
        #{email},
        #{phone},
        #{role},
        #{emailVerified},
        #{status},
        #{memberStatus},
        #{loginType},
        #{socialId,jdbcType=VARCHAR},
        #{agreementEmail},
        SYSDATE
        )

    </insert>

</mapper>