<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jjang051.petcity.visit.dao.LoginHistoryDao">

    <insert id="insertLoginHistory" parameterType="LoginHistoryRedisDto">
        INSERT INTO SITE_LOGIN_HISTORY(
        LOGIN_HISOTRY_ID,
        MEMBER_ID,
        LOGIN_ID,
        NICKNAME,
        ROLE,
        SESSION_ID,
        LOGIN_AT,
        ) VALUES(
        SEQ_SITE_LOGIN_HISTORY.NEXTVAL,
        #{memberId},
        #{loginId},
        #{nickname},
        #{role},
        #{sessionId},
        TO_TIMESTAMP(#{loginAt}, 'YYYY-MM-DD HH24:MI:SS')
    </insert>


</mapper>